@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --btn-color-primary: #d1d5db;
    --btn-color-secondary: #6b7280;
    --btn-color-tertiary: #374151;
    --text-color: #000000;
}

@layer base {
  .duration-50 {
    transition-duration: 50ms;
  }

  .btn-default-primary {
    --btn-color-primary: #d1d5db;
    --btn-color-secondary: #6b7280;
    --btn-color-tertiary: #374151;
  }

  .btn-default-secondary {
    --btn-color-primary: #f2a407;
    --btn-color-secondary: #c28306;
    --btn-color-tertiary: #916204;
    --text-color: #ffffff;
  }

  .size-btn {
    --btn-color-primary: #fcd34d;
    --btn-color-secondary: #f59e0b;
    --btn-color-tertiary: #b45309;
  }

  .green-btn {
    --btn-color-primary: #07690b;
    --btn-color-secondary: #09940f;
    --btn-color-tertiary: #0dde16;
    --text-color: #fff;
  }

  .dark-yellow-btn {
    --btn-color-primary: #fcdd30;
    --btn-color-secondary: #ccb327;
    --btn-color-tertiary: #917f1c;
  }

  .yellow-btn {
    --btn-color-primary: #fafa2f;
    --btn-color-secondary: #cfcf27;
    --btn-color-tertiary: #91911c;
  }

  .blue-btn {
    --btn-color-primary: #1e29fc;
    --btn-color-secondary: #1821cc;
    --btn-color-tertiary: #0e1373;
  }

  .card-btn {
    --btn-color-primary: #6e0733;
    --btn-color-secondary: #ab0a4f;
    --btn-color-tertiary: #f00c6e;
  }

  .balance-btn {
    --btn-color-primary: #120880;
    --btn-color-secondary: #1a0bbd;
    --btn-color-tertiary: #210cfa;
  }

  .topping-preview-btn {
    --btn-color-primary: #f2bd68;
    --btn-color-secondary: #91713f;
    --btn-color-tertiary: #544226;
  }

  .to-toppings-btn {
    --btn-color-primary: #6ee7b7;
    --btn-color-secondary: #10b981;
    --btn-color-tertiary: #047857;
  }

  .CYO-pizza-btn {
    --btn-color-primary: #86efac;
    --btn-color-secondary: #22c55e;
    --btn-color-tertiary: #15803d;
  }

  .signature-btn {
    --btn-color-primary: #fca5a5;
    --btn-color-secondary: #ef4444;
    --btn-color-tertiary: #b91c1c;
  }

  .seasonal-btn {
    --btn-color-primary: #a9b5c6;
    --btn-color-secondary: #919aa8;
    --btn-color-tertiary: #656b75;
  }

  .other-btn {
    --btn-color-primary: #facc15;
    --btn-color-secondary: #ca8a04;
    --btn-color-tertiary: #854d0e;
  }

  .delight-btn {
    --btn-color-primary: #a8b0fa;
    --btn-color-secondary: #8c93d1;
    --btn-color-tertiary: #595d85;
  }

  .sauce-btn {
    --btn-color-primary: #f49ab3;
    --btn-color-secondary: #bd778a;
    --btn-color-tertiary: #6e4550;
  }

  .cheese-btn {
    --btn-color-primary: #f6a22c;
    --btn-color-secondary: #bd8422;
    --btn-color-tertiary: #6e4d15;
  }

  .meat-btn {
    --btn-color-primary: #fa6666;
    --btn-color-secondary: #d95757;
    --btn-color-tertiary: #8f3939;
  }

  .produce-btn {
    --btn-color-primary: #80c624;
    --btn-color-secondary: #63991c;
    --btn-color-tertiary: #3d5e11;
  }

  .seasoning-btn {
    --btn-color-primary: #a0fae9;
    --btn-color-secondary: #89d6c8;
    --btn-color-tertiary: #659e94;
  }

  .close-btn {
    --btn-color-primary: #85100a;
    --btn-color-secondary: #b3150c;
    --btn-color-tertiary: #fc1c0f;
  }

  .close-check-btn {
    --btn-color-primary: #fc1c0f;
    --btn-color-secondary: #b3150c;
    --btn-color-tertiary: #85100a;
    --text-color: #fff;
  }
}

@layer components {
  .pos-btn {
    @apply 
      text-[var(--text-color)]
      font-bold
      bg-[var(--btn-color-primary)]
      shadow-[0_5px_0_0_var(--btn-color-secondary),0_10px_0_0_var(--btn-color-tertiary)]
      cursor-pointer
      border
      border-[var(--btn-color-secondary)]
      rounded-xl
      select-none
      transition-all
      ease-in-out
      duration-[50ms]

      active:transform
      active:translate-y-1
      active:bg-[var(--btn-color-primary)]
      active:border-[var(--btn-color-secondary)]
      active:shadow-[0_5px_0_0_var(--btn-color-secondary)]
      active:border-b-0
  }

  /* order item */
  .orderItem {
    @apply
    /* h-10 */
    flex
    justify-around
    w-2/3
    px-2 
    text-xs 
    rounded-2xl
  }

  .orderItemActive {
    @apply bg-slate-300
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}